# More on Missing Data
If you want to type along with me, use [this notebook](https://humboldt.cloudbank.2i2c.cloud/hub/user-redirect/git-pull?repo=https%3A%2F%2Fgithub.com%2Fbethanyj0%2Fdata271_sp24&branch=main&urlpath=tree%2Fdata271_sp24%2Fdemos%2Fdata271_demo35_live.ipynb) instead. 
If you don't want to type and want to follow along just by executing the cells, stay in this notebook.

In [ ]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import matplotlib.pyplot as plt
import seaborn as sns
np.random.seed(3)

In [ ]:
# Read in example dataset (fabricated for this demo)
df = pd.read_csv('gender_wage_full_data.csv')

In [ ]:
# Make the missing data

# MCAR, Randomly remove 15% of salaries
n = df.shape[0]
data_random_missing = df.copy()
mask = np.random.rand(n) < 0.15
data_random_missing.loc[mask, 'salary'] = np.nan
data_random_missing.head(10)

# MAR, young females more likely to skip salary question
missing_based_on_gender_age = df.copy()
mask = ((missing_based_on_gender_age['gender'] == 'female') 
        & (missing_based_on_gender_age['age'] < 30) 
        & (np.random.rand(n) < 0.5))
missing_based_on_gender_age.loc[mask, 'salary'] = np.nan

# MNAR, lower salaries more likely to skip salary question
missing_based_on_salary = df.copy()
mask = (missing_based_on_salary['salary'] < 55000) & (np.random.rand(n) < 0.7)
missing_based_on_salary.loc[mask, 'salary'] = np.nan

### Checking for patterns in missingness

In [ ]:
# Create a "missing salary" column
data_random_missing['missing_salary'] = data_random_missing.salary.isna()
missing_based_on_gender_age['missing_salary'] = missing_based_on_gender_age.salary.isna()
missing_based_on_salary['missing_salary'] = missing_based_on_salary.salary.isna()

In [ ]:
data_random_missing.groupby('gender')['missing_salary'].mean()

In [ ]:
# check relationship between missingness and age, MCAR
sns.violinplot(x='missing_salary', y='age', data=data_random_missing);

In [ ]:
# check relationship between missingness and gender, MAR
missing_based_on_gender_age.groupby('gender')['missing_salary'].mean()

In [ ]:
# check relationship between missingness and age, MAR
sns.violinplot(x='missing_salary', y='age', data=missing_based_on_gender_age);

In [ ]:
# check relationship between missingness and gender, MNAR
missing_based_on_salary.groupby('gender')['missing_salary'].mean()

In [ ]:
# check relationship between missingness and age, MNAR
sns.violinplot(x='missing_salary', y='age', data=missing_based_on_salary);

Use `missingno` for specialized visualizations.

In [ ]:
# Run this if on JupyterHub
#!pip install missingno

In [ ]:
import missingno as msno

In [ ]:
# Can visualize the proportion of non-missing values in each column
msno.bar(missing_based_on_gender_age);

In [ ]:
# Another way to make the null map with the msno module 
msno.matrix(missing_based_on_gender_age);

In [ ]:
# Plot the matrix again sorted by age
sorted_df = missing_based_on_gender_age.sort_values('age')
msno.matrix(sorted_df);

This makes it clear that only younger individuals skipped the salary question.

In [ ]:
sorted_df = missing_based_on_gender_age.sort_values('gender')
msno.matrix(sorted_df);

This reveals that missingness is be correlated with gender too.

### Imputing the data

In [ ]:
# Fill MCAR the mean
MCAR_filled = data_random_missing.fillna(data_random_missing.salary.mean())

In [ ]:
# Compare qualitative differences between the complete data and the filled data
fig, ax = plt.subplots(1,2, figsize = (10,4))
sns.scatterplot(data = df, x = 'age', y = 'salary', hue = 'gender', ax=ax[0]);
sns.scatterplot(data = MCAR_filled, x = 'age', y = 'salary', hue = 'gender', ax=ax[1]);

In [ ]:
# Fill MAR with the mean
MAR_filled = missing_based_on_gender_age.fillna(
    missing_based_on_gender_age.salary.mean())

In [ ]:
# Compare qualitative differences between the complete data and the filled data
fig, ax = plt.subplots(1,2, figsize = (10,4))
sns.scatterplot(data = df, x = 'age', y = 'salary', hue = 'gender', ax=ax[0]);
sns.scatterplot(data = MAR_filled, x = 'age', y = 'salary', hue = 'gender', ax=ax[1]);

In [ ]:
# Fill MNAR with the mean
MNAR_filled = missing_based_on_salary.fillna(
    missing_based_on_salary.salary.mean())

In [ ]:
# Compare qualitative differences between the complete data and the filled data
fig, ax = plt.subplots(1,2, figsize = (10,4))
sns.scatterplot(data = df, x = 'age', y = 'salary', hue = 'gender', ax=ax[0]);
sns.scatterplot(data = MNAR_filled, x = 'age', y = 'salary', hue = 'gender', ax=ax[1]);

### Imputing time series data
Imputing with the mean, median, or mode is not always the best option, especially for sequential data.

In [ ]:
airquality = pd.read_csv("airquality.csv")
airquality

In [ ]:
airquality.info()

In [ ]:
airquality['Date'] = pd.to_datetime(airquality['Date'])
airquality

In [ ]:
# Look at missing Ozone data
plt.figure(figsize=(10,4))
plt.plot(airquality["Date"], airquality["Ozone"], marker='o');
plt.ylabel('Ozone')
plt.show()

The time series varies a lot. If we fill everything with the mean or median, we might get strange results.

In [ ]:
# Fill nans with the mean datapoint
mean_fill = airquality.fillna(airquality.Ozone.mean())

plt.figure(figsize=(10,4))
plt.plot(mean_fill["Date"], mean_fill["Ozone"], marker='o', color = 'r');
plt.plot(airquality["Date"], airquality["Ozone"], marker='o');
plt.ylabel('Ozone')
plt.show()

In [ ]:
# Fill nans with the previous datapoint
forward_fill = airquality.fillna(method='ffill')

In [ ]:
# Look at the missing data in Ozone
plt.figure(figsize=(10,4))
plt.plot(forward_fill["Date"], forward_fill["Ozone"], marker='o', color = 'r');
plt.plot(airquality["Date"], airquality["Ozone"], marker='o');
plt.ylabel('Ozone')
plt.show()

In [ ]:
# Fill nans with the next datapoint
back_fill = airquality.fillna(method='bfill')

In [ ]:
# Look at the missing data in Ozone
plt.figure(figsize=(10,4))
plt.plot(back_fill["Date"], back_fill["Ozone"], marker='o', color = 'r');
plt.plot(airquality["Date"], airquality["Ozone"], marker='o');
plt.ylabel('Ozone')
plt.show()

In [ ]:
# Linear interpolation
interpolated_oz = airquality.copy()
interpolated_oz['Ozone'] = airquality.Ozone.interpolate(method='linear')

In [ ]:
# Look at the missing data in Ozone
plt.figure(figsize=(10,4))
plt.plot(interpolated_oz["Date"], interpolated_oz["Ozone"], marker='o', color = 'r');
plt.plot(airquality["Date"], airquality["Ozone"], marker='o');
plt.xlabel('Day')
plt.ylabel('Ozone')
plt.show()

This looks like a reasonable guess for how to fill in the datapoints.

*NOTE:* There are other methods that can be used to interpolate.

In [ ]:
# Quadratic interpolation
interpolated_oz['Ozone'] = airquality.Ozone.interpolate(method='quadratic')

In [ ]:
# Look at the missing data in Ozone
plt.figure(figsize=(10,4))
interpolated_oz['Ozone'].plot(color = 'r', marker='o')
airquality['Ozone'].plot( marker='o')
plt.xlabel('Day')
plt.ylabel('Ozone')
plt.show()

This method highly overshot the data ranges. This is not a good option.

One other option is to fill null values with a random sample. This could work when the data is MCAR or MAR and could also work for categorical data.

In [ ]:
# Get non-NaN values from ozone column
non_nan_values = airquality['Ozone'].dropna()

# Get the number of NaNs we need to fill
nan_count = airquality['Ozone'].isna().sum()

# Generate random samples from non-NaN values to fill NaNs
random_samples = np.random.choice(non_nan_values, nan_count, replace=True)

# Fill NaN values in the ozone column with the random values
random_fill = airquality.copy()
random_fill.loc[random_fill['Ozone'].isna(), 'Ozone'] = random_samples

plt.figure(figsize=(10,4))
plt.plot(random_fill["Date"], random_fill["Ozone"], marker='o', color = 'r');
plt.plot(airquality["Date"], airquality["Ozone"], marker='o');
plt.xlabel('Day')
plt.ylabel('Ozone')
plt.show()

## Activity
Activity 1: Look at the "Hours.Of.Daylight" column in the airquality dataset. Fill in the missing values with the most appropriate method.

**Activity 2:** Run the following cells to import and clean the Lake Mendocino Data from last time. Use an appropriate imputation method to fill in the null values in this dataset. Plot your results to evaluate if your imputation was reasonable.

In [ ]:
# Import a dataset about Lake Mendocino
lake = pd.read_csv('coy_wy2024_csvdata.csv')
lake

In [ ]:
lake[lake=='-'] = np.nan
notes_columns = [col for col in lake.columns if 'notes' in col]
lake[notes_columns] = lake[notes_columns].replace(0, np.nan)
lake.dropna(axis = 1, thresh = 230,inplace=True)
lake = lake.assign(cons_high = lake['Top of Conservation High (ac-ft)'].astype(float),
              cons = lake['Top of Conservation (ac-ft)'].astype(float),
              gross_pool = lake['Gross Pool'].astype(float),
              gross_pool_elev = lake['Gross Pool(elev)'].astype(float))
lake['date'] = pd.to_datetime(lake['ISO 8601 Date Time'].str[:10])
lake.drop(columns = ['Top of Conservation High (ac-ft)', 'Top of Conservation (ac-ft)','Gross Pool','Gross Pool(elev)'],inplace=True)
lake

In [ ]:
# Fill nans

In [ ]:
# Check if it worked

In [ ]:
# Plot