# Method Chaining with NumPy and Intro to Pandas
If you want to type along with me, use [this notebook](https://humboldt.cloudbank.2i2c.cloud/hub/user-redirect/git-pull?repo=https%3A%2F%2Fgithub.com%2Fbethanyj0%2Fdata271_sp24&branch=main&urlpath=tree%2Fdata271_sp24%2Fdemos%2Fdata271_demo11_live.ipynb) instead. 
If you don't want to type and want to follow along just by executing the cells, stay in this notebook.

In [ ]:
# Whenever you want to use numpy import it with the following code
import numpy as np

### NumPy Methods

In [ ]:
arr = np.random.randint(1,21,15)
arr

In [ ]:
# find the max

In [ ]:
# find the min

In [ ]:
# find the index of the maximum

In [ ]:
# find the index of the maximum

In [ ]:
# find the indices that would sort the array

In [ ]:
# find the mean

In [ ]:
# find the standard deviation

In [ ]:
# add everything up

In [ ]:
# get cumulative sum element by element

In [ ]:
# "peak to peak" maximum - minimum

In [ ]:
# clip values
print()
print(arr)

### NumPy Methods on 2d arrays

In [ ]:
arr2d = np.random.randint(1,20,(4,5))
arr2d

In [ ]:
# get max
arr2d.max()

In [ ]:
# get max along axis of each column
arr2d.max(...)

In [ ]:
# get max of each row
arr2d.max(...)

In [ ]:
# get the index of the maximum element
arr2d.argmax()

In [ ]:
# get the index of the maximum element in each column
arr2d.argmax(...)

In [ ]:
# get the index of the maximum element in each row
arr2d.argmax(...)

### Method chaining

In [ ]:
# start by reshaping

In [ ]:
# chain: reshape and then take the max of each column
arr2d.reshape((2,10))

In [ ]:
# chain: reshape and then take the max of each column then get the average of those
arr2d.reshape((2,10)).max(axis=0)

In [ ]:
# when your chains start getting long

In [ ]:
# reminder that none of this changes the original array
arr2d

## Activity

There are two arrays below:

`restaurant_items` is a 2D array. The first row contains appetizers, the second row contains main dishes, and the third row contains beverages. 

`prices` is a 2D array of the same shape as `restaurant_items`. It contains the prices of each resturant item. 

Use these to answer the following questions.

In [ ]:
restaurant_items = np.array([['fries','salad','soup'],
                  ['pizza','pasta','burger'],
                  ['soda','iced tea','lemonade']])
prices = np.array([[6.50,7.25,4.75],
                  [9.50,10.25,10.75],
                  [2,2.25,3]])

1. Use NumPy methods to determin how much would someone pay for their meal if they ordered the most expensive appetizer, main dish, and beverage?

2. Use NumPy methods and slicing to create a 1d array containing all the resturaunt items sorted by most expensive to least expensive.

3. Use NumPy methods and slicing to create a 1d array containing the most expensive appetizer, the most expensive main dish, and the most expensive beverage.

## Pandas

In [ ]:
# whenever we want to use Pandas
import pandas as pd

### Pandas Series

In [ ]:
evens_array = np.arange(1,20,2)
evens_array

In [ ]:
evens_series = 
evens_series

In [ ]:
lst = ['data','science','math']

In [ ]:
tup = (2,3,5)
tup_series = 
tup_series

In [ ]:
tup_series.index = ['two','three','five']
tup_series

In [ ]:
tup_series['two']

##### Series attributes

In [ ]:
evens_series.

In [ ]:
evens_series.

In [ ]:
evens_series.

In [ ]:
evens_series.

### Pandas dataframes

In [ ]:
my_dict = {'fruit':['apple','banana','orange'],
          'color':['red','yellow','orange'],
          'yum score':[5,5,5],
          'in fridge':[True, False, True],
          'number':[3,4,0]}

In [ ]:
fruit_df = 
fruit_df

In [ ]:
list_of_tups = [(i,i**2,i**3) for i in range(10)]
list_of_tups

In [ ]:
squares_and_cubes = 
squares_and_cubes

##### Dataframe attributes

In [ ]:
fruit_df.

In [ ]:
fruit_df.

In [ ]:
fruit_df.

In [ ]:
fruit_df.

In [ ]:
fruit_df.