# Advanced Pandas: combining data

In [ ]:
import numpy as np
import pandas as pd

## Combining Data

In [ ]:
# Create the first dataframe
df1 = pd.DataFrame({
    'Name': ['Lorelai Gilmore', 'Rory Gilmore', 'Luke Danes', 'Emily Gilmore'],
    'Occupation': ['Manager', 'Student', 'Owner', 'Socialite'],
    'Age': [32, 20, 40, 60]
})

# Create the second dataframe
df2 = pd.DataFrame({
    'Name': ['Lorelai Gilmore', 'Rory Gilmore', 'Sookie St. James', 'Richard Gilmore'],
    'Home': ['Stars Hollow', 'Stars Hollow', 'Stars Hollow', 'Hartford']
})

### Merge

In [ ]:
# A standard merge (inner)

In [ ]:
# Explicitly specifying what to merge by (same as before)
df1.merge(df2, ...)

In [ ]:
# What if they had different column names?
df2.rename(columns = {'Name':'Character Name'},inplace=True)
df2

In [ ]:
# Try merging now (error!)
df1.merge(df2)

In [ ]:
# Specify one of the column names (error!)
df1.merge(df2, on = 'Name')

In [ ]:
# How to specify both names if they are different
df1.merge(df2, ...)

In [ ]:
# Can drop the redundant column
df1.merge(df2, left_on = 'Name',right_on = 'Character Name')...

In [ ]:
# Reset it back to original
df2.rename(columns = {'Character Name':'Name'},inplace=True)

In [ ]:
# Outer
df1.merge(df2, ...)

In [ ]:
# Use the indicator parameter to keep track of where the rows came from (good for debugging)
df1.merge(df2, how = 'outer', ...)

In [ ]:
# Left
df1.merge(df2, ...)

In [ ]:
# Right
df1.merge(df2, ...)

In [ ]:
# Cross join (less common, but occasionally handy)
df1.merge(df2, ...)

In [ ]:
# What if there are two common columns?
df1['School'] = ['Hartford Community College','Yale','Stars Hollow High','Smith College']
df2['School'] = ['Hartford Community College','Yale','Unknown','Yale']

In [ ]:
# Test what a standard merge does
df1.merge(df2)

In [ ]:
# Outer merge behaves as expected
df1.merge(df2, how = 'outer')

In [ ]:
# What if we only specify one column to merge on?
df1.merge(df2, ... ,how = 'outer')

In [ ]:
# Merge on both
df1.merge(df2, ... ,how = 'outer')

In [ ]:
# If one of the columns is actually an index

df2

In [ ]:
# If one of the columns is actually an index
df1.merge(df2, left_on='Name', ...)

In [ ]:
df2.reset_index(inplace=True)

### Join

In [ ]:
# Standard join won't work (error!)

In [ ]:
# Join works when we just want to join on the index
df1.set_index('Name',inplace=True)
df2.set_index('Name',inplace=True)

In [ ]:
# still doesn't work (it doesn't know what to do with the identical columns)

In [ ]:
# We have to define suffixes when we use join (merge did it automatically)
df1.join(df2, ...)

In [ ]:
# Can select different "how" with join
df1.join(df2, how='outer', lsuffix='_left',rsuffix='_right')

### Concatenate

In [ ]:
# First lets reset the indices
df1.reset_index(inplace=True)
df2.reset_index(inplace=True)

In [ ]:
# A standard concatenate

In [ ]:
# Explicitly state how to concatenate (keep all columns that appear in either dataset)
pd.concat([df1,df2],join=)

In [ ]:
# Only keep common columns
pd.concat([df1,df2],join=)

In [ ]:
# Left/right combinations are not supported
pd.concat([df1,df2],join='left')

In [ ]:
# Be careful with indices!
concat_gilmores = pd.concat([df1,df2])
concat_gilmores

In [ ]:
# indices might be duplicated

In [ ]:
# You can prevent this by ignoring the index (this will give new indices)
pd.concat([df1,df2],...)

In [ ]:
# concatenate the rows (can get very confusing if you aren't careful!)
pd.concat([df1,df2],...)

In [ ]:
# Concat is useful for adding rows
new_row = pd.DataFrame([{'Name':'Kurk', 'Home':'Stars Hollow', 'School': 'Unknown'}])
new_row

In [ ]:
# Concat is useful for adding rows
df2 = 
df2

In [ ]:
# Concatenating columns would do an outer
pd.concat([df1,df2],axis=1)

In [ ]:
# Change it to inner
pd.concat([df1,df2],axis=1,join='inner')

## Activity

**1.** Run the following cells to read in Cal Poly Humboldt student data. Check what would happen if you did not include the `skiprows` argument.

In [ ]:
passing = pd.read_csv('humboldt_data/Humboldt_Passing_Fa23.csv',skiprows=5)

In [ ]:
passing.head()

In [ ]:
first_gen = pd.read_csv('humboldt_data/FirstGenData_Fa23.csv',skiprows=5)

In [ ]:
first_gen.head()

**2.** Merge the two dataframes. Try different `how` arguments.

**3.** Recreate the figure from the discussion question.