# Combining Data Wrap-up
If you want to type along with me, use [this notebook](https://humboldt.cloudbank.2i2c.cloud/hub/user-redirect/git-pull?repo=https%3A%2F%2Fgithub.com%2Fbethanyj0%2Fdata271_sp24&branch=main&urlpath=tree%2Fdata271_sp24%2Fdemos%2Fdata271_demo30_live.ipynb) instead. 
If you don't want to type and want to follow along just by executing the cells, stay in this notebook.

In [ ]:
import numpy as np
import pandas as pd

## Combining Data

In [ ]:
# Create the first dataframe
df1 = pd.DataFrame({
    'Name': ['Lorelai Gilmore', 'Rory Gilmore', 'Luke Danes', 'Emily Gilmore'],
    'Occupation': ['Manager', 'Student', 'Owner', 'Socialite'],
    'Age': [32, 20, 40, 60]
})

# Create the second dataframe
df2 = pd.DataFrame({
    'Name': ['Lorelai Gilmore', 'Rory Gilmore', 'Sookie St. James', 'Richard Gilmore'],
    'Home': ['Stars Hollow', 'Stars Hollow', 'Stars Hollow', 'Hartford']
})

In [ ]:
df1

In [ ]:
df2

### Merge

In [ ]:
# A standard merge (inner)
df1.merge(df2)

In [ ]:
# Explicitly specifying what to merge by (same as before)
df1.merge(df2, on = 'Name')

In [ ]:
# What if they had different column names?
df2.rename(columns = {'Name':'Character Name'},inplace=True)
df2

In [ ]:
# # What if they had different column names?
df1.merge(df2, left_on = 'Name',right_on = 'Character Name')

In [ ]:
# Can drop the redundant column
df1.merge(df2, left_on = 'Name',right_on = 'Character Name').drop(columns = 'Character Name')

In [ ]:
# Reset it back to original
df2.rename(columns = {'Character Name':'Name'},inplace=True)

In [ ]:
# Outer
df1.merge(df2, how = 'outer')

In [ ]:
# Left
df1.merge(df2,how = 'left')

In [ ]:
# Right
df1.merge(df2,how = 'right')

In [ ]:
# Cross join (not super common, but occasionally handy)
df1.merge(df2,how='cross')

In [ ]:
# What if there are two common columns?
df1['School'] = ['Hartford Community College','Yale','Stars Hollow High','Smith College']
df2['School'] = ['Hartford Community College','Yale','Unknown','Yale']

In [ ]:
# Test what a standard merge does
df1.merge(df2)

In [ ]:
# Outer merge behaves as expected
df1.merge(df2, how = 'outer')

In [ ]:
# What if we only specify one column to merge on?
df1.merge(df2, on = 'Name',how = 'outer')

In [ ]:
# Merge on both
df1.merge(df2, on = ['Name','School'],how = 'outer')

### Join

In [ ]:
# Standard join won't work.
df1.join(df2)

In [ ]:
# Join works when we just want to join on the index
df1.set_index('Name',inplace=True)
df2.set_index('Name',inplace=True)

In [ ]:
df1

In [ ]:
df2

In [ ]:
# still doesn't work. 
df1.join(df2)

In [ ]:
# We have to define suffixes when we use join (merge did it automatically)
df1.join(df2, lsuffix='_left',rsuffix='_right')

In [ ]:
# Can select different "how" with join
df1.join(df2,how='outer', lsuffix='_left',rsuffix='_right')

### Concatenate

In [ ]:
# First lets reset the indices
df1.reset_index(inplace=True)
df2.reset_index(inplace=True)

In [ ]:
# A standard concatenate
pd.concat([df1,df2])

In [ ]:
# Explicitly state how to concatenate (keep all columns that appear in either dataset)
pd.concat([df1,df2],join='outer')

In [ ]:
# Only keep common columns
pd.concat([df1,df2],join='inner')

In [ ]:
# concatenate the rows (can get very confusing if you aren't careful!)
pd.concat([df1,df2],axis=1)

In [ ]:
# A better way to do that
pd.concat([df1.set_index('Name'),df2.set_index('Name')],axis=1)

In [ ]:
# Another way
pd.concat([df1.set_index(['Name','School']),df2.set_index(['Name','School'])],axis=1)

### Compare

In [ ]:
# Create a similar dataframe
df3 = df1.copy()
df3.loc[1,'Occupation'] = 'Journalist'
df3['Age'] = df3.Age+1
df3

In [ ]:
# Compare dataframes to spot differences
df1.compare(df3)

In [ ]:
# Compare dataframes to spot similarities and differences
df1.compare(df3,keep_equal=True)

In [ ]:
# If you don't need specific information about differences
df1.equals(df3)

## Activity

**1.** Run the following cells to read in Cal Poly Humboldt student data. Check what would happen if you did not include the `skiprows` argument.

In [ ]:
pd.read_csv('humboldt_data/Humboldt_Passing_Fa23.csv',skiprows=5)

In [ ]:
passing = pd.read_csv('humboldt_data/Humboldt_Passing_Fa23.csv',skiprows=5)

In [ ]:
passing.head()

In [ ]:
first_gen = pd.read_csv('humboldt_data/FirstGenData_Fa23.csv',skiprows=5)

In [ ]:
first_gen.head()

**2.** Merge the two dataframes. Try different `how` arguments.

**3.** Recreate the figure from the discussion question.

**4.** There are additional datasets related to Cal Poly Humboldt students from Fall 2023 in the `humboldt_data` folder in this directory. Choose one or more to combine with `passing` and `first_gen`.