# Practice Midterm 1 Problems Designed by Students
Here are the problems from your practice midterm designs. Please work on these before the exam on Thursday. I might select some problems to put on the actual exam!

In [ ]:
import numpy as np
import pandas as pd

#### **Problem**: 
Given the dataframe below, where each inventory item has a color and a number of those colored objects, assume that these all exist in a box which you can reach into to randomly select. What is the probability that you'll pick out a purple umbrella?

In [ ]:
df = pd.DataFrame({'Object': ['shoes','shoes', 'umbrella', 'umbrella', 'umbrella' ,'shirt', 'shirt' ], 'Color': ['yellow', 'blue', 'red', 'blue', 'purple', 'yellow', 'green'], 'Count': [12, 20, 15, 22, 13, 17, 21]})
df

#### **Problem**
Convert 1.234 to a string.

#### **Problem**: 
Write a simulation for rolling a fair dice 5000 times to estimate the probability of rolling a 3 using numpy random module.

#### **Problem**: 
Use list comprehension and the provided veggies list to return a list of veggies in all capital letters that are greater than 5 characters in length. Next, use a for loop to return a list of veggies from the provided list that are less than or equal to 5 characters in length and sort in descending alphabetical order.

In [ ]:
veggies = ['tomato', 'lettuce', 'carrot', 'chard', 'beet', 'potato', 'squash', 'onion', 'turnip', 'cucumber', 'bean']

In [ ]:
# List comprehension here

In [ ]:
# For loop here

#### **Problem**: 
Find the average of the T3 Free value below.

In [ ]:
mydata=pd.DataFrame(
    {
    't3_free' : [4.8, 5.1, 4.6],
    'date' : ['07/15/2022', '08/19/2019', '03/09/2024'],
    }, 
   
)

#### **Problem**: 
The evil data scientist has returned!! They demand that you create a pandas dataframe with the following contents:
```
[ 1, 2, 3 ]
[ 4, 5, 6 ]
[ 7, 8, 9 ]
```

#### **Problem**: 
You are working on a text processing application that needs to extract all the dates from a given string. Write a Python function using regular expression to find and return a list of all valid dates in the format MM/DD/YYYY or DD-MM-YYYY.

In [ ]:
text = "Important dates are 03/22/1995, 08/25/1999, and 28-06-2020."

#### **Problem**: 
Create a 1D array [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20] and rearrange it into a 2D array with 4 rows.

In [ ]:
flat_array = ...
layered_array = ...

#### **Problem**: 
A pangram is a phrase that contains every letter of the alphabet at least once. A popular example is "the quick brown fox jumps over the lazy dog." Lesser known pangrams include "sphinx of black quartz, judge my vow" and "pack my box with five dozen liquor jugs." Use regular expressions to write a function that checks whether a phrase is a pangram. The function should return `True` or `False`.

#### **Problem**: 
Create an array `array`, \begin{bmatrix}
2 & 7 & 8 & 10 & 11\\
5 & 12 & 15 & 9 & 20\\
21 & 30 & 22 & 29 & 0
\end{bmatrix}

In [ ]:
array = ...

#### **Problem**: 
Use boolean masking to extract all the numbers from `array` that are divisible by 4.

#### **Problem**: 
Use regex and lambda to fix the errors in the string below. 
```python
"Yesterday i bought a banana. today i bought a apple. tomorrow i will buy a orange."
```

(Make sure the word I is always capitalized, the word a becomes an if the next word starts with a vowel, and the first character in a sentence is capitalized) The corrected sentence should be 
```python
"Yesterday I bought a banana. Today I bought an apple. Tomorrow I will buy an orange."
```

You may need several lines of code.

In [ ]:
fix_string = "Yesterday i bought a banana. today i bought a apple. tomorrow i will buy a orange."
fix_string = ...
fix_string = ...
fix_string = ...
fix_string

#### **Problem**: 
The synopsis for The Empress of Salt and Fortune by Nghi Vo is given. Use regex and dictionary comprehension to extract a count of each vowel. Your output should be a dictionary where each key is a vowel and each value is the number of times that vowel occured in the synopsis.

In [ ]:
synopsis = """A young royal from the far north is sent south for a political marriage
            in an empire reminiscent of imperial China. Her brothers are dead, 
            her armies and their war mammoths long defeated and caged behind their borders. 
            Alone and sometimes reviled, she must choose her allies carefully. Rabbit, a handmaiden, 
            sold by her parents to the palace for the lack of five baskets of dye, befriends the emperor's 
            lonely new wife and gets more than she bargained for. At once feminist high fantasy and an 
            indictment of monarchy, this evocative debut follows the rise of the empress In-yo, who 
            has few resources and fewer friends. She's a northern daughter in a mage-made summer exile, 
            but she will bend history to her will and bring down her enemies, piece by piece."""

#### **Problem**: 
You are given a 5×5 NumPy array filled with random integers between 10 and 50. Perform the following operations:

- Replace all even numbers in the array with -1.

- Compute the row-wise sum of the modified array.

In [ ]:
np.random.seed(42)  # For reproducibility
arr = np.random.randint(10, 50, (5, 5))
arr

#### **Problem** 
A friend has asked you for help answering some questions about their personal library. They have sent over a csv of all the books in their personal library and their questions.

data: `bookdata.csv`

Questions:

1. How many unique books do they have?
2. What author do they have the most books from?
3. How many books in their library have they read?

In [ ]:
# Import the data here

**(a)** Your friend has a much bigger library than you thought and sent you a big file! You realize you need to know all the column headers to answer their questions. 

Write code to make a list containing the only the column headers then make a subset of the data with columns relevant to answering your friends questions.

**(b)** Write code to answer your friends questions
1. How many unique books do they have?
2. What author do they have the most books from?
3. How many books in their library have they read?

Assign answers to `unique_books`, `author_name`, and `number_read`

In [ ]:
unique_books = ...

In [ ]:
author_name = ...

In [ ]:
number_read = ...

#### **Problem:** 
Import the survey data below and answer the following questions.

In [ ]:
df = pd.read_excel('Data271_DTD.xlsx')
df.head(2)

**(a)** First extract salaries in USD.

**(b)** Find the mean, median, and standard deviation of the USD salaries.

**(c)** Although this gives us the numerical values we need, we don't quite know where they are coming from. Extract the salries once more; however, this time extract them with their respective job titles.

**(d)** In the original dataset, what is the average salary by educational level?

**(e)** Can you find out the average salary per state?

**(f)** What is the state with the highest average salary?

#### **Problem**: 
Get Ready for Data

...of the reef survey kind! Prepare to investigate Reef Check California (https://www.reefcheck.org/). 


Data Source: (https://opc.dataone.org/view/doi:10.25494/P69885)

**(a)** You don't know what you kind of data types you will encounter, so import two python modules to assist in your data wranglin'!**

**(b)** Assign `invsw` to a pandas data frame from the csv file `RCCA_invertebrate_swath_data.csv`. Reveal only the first 5 rows.

In [ ]:
invsw = ...

**(c)** What is the size of the dataframe, and what kind of data do they contain? (Don't need to explain, just reveal the information)

**(d)** Wow! Thats a lot of information. I'm really only interested in Northern California, near abouts Fort Bragg. The region of interest starts at 39.125deg N, and ends at around 39.573deg N.**

Filter the datatable to only include entries in the described range
Assign this datatable to `ftbgg`.

**(e)** Check the minimum and maximum of the latitudes in the new dataset to ensure your code worked (many options)

**(f)** Sort the dataframe by decreasing latitude, so it is in order from North to South. Reassign this to `ftbrgg`.

**(g)** Identify the different sites we are investigating.

**(h)** Set the index to Site. 
Assign this to `bgg`

**(i)** Get rid of the rows where the amount of that particular species is 0.0. Make sure this changes the original table (multiple methods).

**(j)** Find all Caspar Cove surveys _(Hint: remember to check the site name(s) from part gg above)_. Group by Year and Classcode to find the sum of the species. Assign this to `cspr`

**(k)** Find how many unique species are in `cspr`.

**(l)** Select the rows that contain any urchins or anemones using regex and present the dataframe, name it `urchab`. Then find the unique species present at Caspar over the years