# Intro to Pandas
If you want to type along with me, use [this notebook](https://humboldt.cloudbank.2i2c.cloud/hub/user-redirect/git-pull?repo=https%3A%2F%2Fgithub.com%2Fbethanyj0%2Fdata271_sp24&branch=main&urlpath=tree%2Fdata271_sp24%2Fdemos%2Fdata271_demo12_live.ipynb) instead. 
If you don't want to type and want to follow along just by executing the cells, stay in this notebook.

In [ ]:
# Whenever you want to use numpy import it with the following code
import numpy as np

## Activities from last time

There are two arrays below:

`restaurant_items` is a 2D array. The first row contains appetizers, the second row contains main dishes, and the third row contains beverages. 

`prices` is a 2D array of the same shape as `restaurant_items`. It contains the prices of each resturant item. 

Use these to answer the following questions.

In [ ]:
restaurant_items = np.array([['fries','salad','soup'],
                  ['pizza','pasta','burger'],
                  ['soda','iced tea','lemonade']])
prices = np.array([[6.50,7.25,4.75],
                  [9.50,10.25,10.75],
                  [2,2.25,3]])

1. Use NumPy methods to determin how much would someone pay for their meal if they ordered the most expensive appetizer, main dish, and beverage?

2. Use NumPy methods and slicing to create a 1d array containing all the resturaunt items sorted by most expensive to least expensive.

3. Use NumPy methods and slicing to create a 1d array containing the most expensive appetizer, the most expensive main dish, and the most expensive beverage.

## Pandas

In [ ]:
# whenever we want to use Pandas
import pandas as pd

### Pandas Series

In [ ]:
evens_array = np.arange(1,20,2)
evens_array

In [ ]:
# create pandas series from a numpy array
evens_series = 
evens_series

In [ ]:
# make a list
lst = ['data','science','math']

In [ ]:
# create a series from a list

In [ ]:
# create a series from a tuple
tup = (2,3,5)
tup_series =
tup_series

In [ ]:
# create a series from a dict (keys become indicies)
dct = 
dct_series =
dct_series

##### Accessing elements

In [ ]:
# access elements by index

In [ ]:
# or access by position

In [ ]:
# or access multiple

In [ ]:
# access multiple with position

##### Series attributes

In [ ]:
# data type of the elements

In [ ]:
# shape (always 1d)

In [ ]:
# indices in the series

In [ ]:
# values in the series

In [ ]:
# general info about the series

In [ ]:
# updating indices

evens_series

In [ ]:
# or specify index when making the series

### Pandas dataframes

In [ ]:
my_dict = {'fruit':['apple','banana','orange'],
          'color':['red','yellow','orange'],
          'yum score':[5,5,5],
          'in fridge':[True, False, True],
          'number':[3,4,0]}

In [ ]:
# dataframe from a dictionary (treats each key as a column)
fruit_df = 
fruit_df.index = 
fruit_df

In [ ]:
# list of tuples
list_of_tups = 
list_of_tups

In [ ]:
# dataframe from a list of tups (treats each tuple as a row)

In [ ]:
# list of dictionaries
list_of_dicts = [
    {'Median Home Price': 454000, 'Town': 'Arcata'},
     {'Median Home Price': 383000, 'Town': 'Eureka'},
]
list_of_dicts

In [ ]:
# Dataframe from list of dictionaries (treats each dict as a row)

##### Accessing elements

In [ ]:
# accessing columns

In [ ]:
# accessing columns (another way)

In [ ]:
# accessing rows (by label)

In [ ]:
# accessing rows (by position)

In [ ]:
# accessing elements (by label)

In [ ]:
# accessing elements (by position)

In [ ]:
# slicing (by label)

In [ ]:
# slicing (by position)

##### Dataframe attributes

In [ ]:
# data type of elements in each column
fruit_df.

In [ ]:
# shape (2d)
fruit_df.

In [ ]:
# indices of rows
fruit_df.

In [ ]:
# all the values (output as numpy array)
fruit_df.

In [ ]:
# column names
fruit_df.

In [ ]:
# general info
fruit_df

## Why Pandas?
NumPy is nice for handling homogeneous data types, but sometimes we need more flexibility as data become more complicated. We might also desire visually pleasing way to view the data.

In [ ]:
# Sample data (made up employees)
employee_data = np.array([
    [101, 'John', 'Engineering', 60000, '2018-01-15'],
    [102, 'Jane', 'Engineering', 65000, '2017-05-12'],
    [103, 'Doe', 'HR', 55000, '2019-02-28'],
    [104, 'Alice', 'Marketing', 70000, '2016-11-20'],
    [105, 'Bob', 'HR', 60000, '2019-09-10'],
    [106, 'Eve', 'Marketing', 75000, '2017-04-05']
])
print(employee_data)

# Same data in Pandas dataframe
employee_df = pd.DataFrame(employee_data, columns=['ID', 'Name', 'Department', 'Salary', 'Hire Date'])
employee_df['Salary'] = pd.to_numeric(employee_df['Salary'])
employee_df

In [ ]:
# Get the average salary by department

# Find unique departments
unique_departments = 

# Calculate average salary for each department
avg_salaries = []
for ... in ...:
    department_salaries = ...
    avg_salaries.append(...)

print(unique_departments)
print(avg_salaries)

In [ ]:
# Do the same task with Pandas
avg_salaries = 
avg_salaries

## Activity 

Consider the following jokes:

1. Q: Why don't scientists trust atoms?
    1. Because they make up everything.
2. Q: What do you call fake spaghetti?
    1. An impasta!
3. Q: Why did the scarecrow win an award?
    1. Because he was outstanding in his field.

Create a Pandas dataframe with the jokes in one column, their answers in another column, and your rating of the joke on a scale of 0-5 stars (ints) in another column.

Compute your average rating of these jokes.

Access the question and answer of your highest rated joke. (output should be a Pandas df with 1(or more) rows and two columns)