# Intro to Pandas

In [ ]:
# Standard imports

### Pandas Series

In [ ]:
# Create a series from a dict (keys become indicies)
dct = {'one': 1, 'two': 2,'three':3}
dct_series = pd.Series(dct)
dct_series

### Accessing Elements

In [ ]:
# Access elements by their index (bracket notation)

In [ ]:
# Access elements by their index (dot/attribute notation)

In [ ]:
# Accessing elements by their position

In [ ]:
# Slicing by index (inclusive stop)

In [ ]:
# Slicing by position (exclusive stop)

In [ ]:
# These different ways of accessing elements can get confusing if indices are ints
new_series = pd.Series({1:1,2:2,3:3,4:4,5:5})
new_series

In [ ]:
# Are we accessing by index or position here?

In [ ]:
# Are we slicing by index or position here?

Be explicit with `.loc` (for index-based access) and `.iloc` (for position-based access)

In [ ]:
# Access by index

In [ ]:
# Access by position

In [ ]:
# Slice by index

In [ ]:
# Slice by position

### Advanced indexing

In [ ]:
# Select multiple elements by index

In [ ]:
# Select multiple elements by position

In [ ]:
# Supports Boolean indexing

In [ ]:
# Conditional indexing
new_series[(new_series > 2) & (new_series < 5)]

In [ ]:
# Another way to do conditional indexing (specify inclusive as 'both','neither','left', or 'right')

In [ ]:
# Select specific elements
new_series[(new_series == 1) | (new_series == 4)]

In [ ]:
# Another way to select specific elements

### General Series Info

In [ ]:
# general info about the series
dct_series.

### Creating Pandas DataFrames

In [ ]:
my_dict = {'fruit':['apple','banana','orange'],
          'color':['red','yellow','orange'],
          'yum_score':[5,5,5],
          'in fridge':[True, False, True]}

In [ ]:
# dataframe from a dictionary (treats each key as a column)
fruit_df = pd.DataFrame(my_dict)
fruit_df

In [ ]:
# dataframe from a dictionary (specify row labels)
fruit_df = pd.DataFrame(my_dict,...)
fruit_df

In [ ]:
# To change column labels
fruit_df.columns = ['fruit','color','yum_score','in_fridge']
fruit_df

In [ ]:
# nested lists (or lists of tups)
lists = [[i,i**2,i**3] for i in range(10)]
lists

In [ ]:
# dataframe from a list of lists (treats each sublist as a row)

In [ ]:
# specify column names 
pd.DataFrame(lists,...)

In [ ]:
# list of dictionaries (with same keys)
list_of_dicts = [
    {'Median Home Price': 454000, 'Town': 'Arcata'},
     {'Median Home Price': 383000, 'Town': 'Eureka'},
]
list_of_dicts

In [ ]:
# Dataframe from list of dictionaries (treats each dict value as a row)

### Accessing DataFrame Elements

In [ ]:
# accessing columns (dot notation)

In [ ]:
# accessing columns (bracket notation)

In [ ]:
# accessing rows (by label)

In [ ]:
# accessing rows (by position)

In [ ]:
# accessing elements (by label)

In [ ]:
# accessing elements (by position)

In [ ]:
# slicing (by label)

In [ ]:
# slicing (by position)

In [ ]:
# Subsetting columns (by column label)

In [ ]:
# Subsetting columns (by column position)

### Dataframe attributes

In [ ]:
# data type of elements in each column
fruit_df.dtypes

In [ ]:
# shape (2d)
fruit_df.shape

In [ ]:
# row labels
fruit_df.index

In [ ]:
# column labels
fruit_df.columns

In [ ]:
# all the values output as numpy array (note dtype)
fruit_df.values

### General Info

In [ ]:
# general info
fruit_df.info()

## Why Pandas?
NumPy is nice for handling homogeneous data types, but sometimes we need more flexibility as data become more complicated. We might also desire visually pleasing way to view the data.

In [ ]:
# Sample data (made up employees)
employee_data = np.array([
    [101, 'John', 'Engineering', 60000, '2018-01-15'],
    [102, 'Jane', 'Engineering', 65000, '2017-05-12'],
    [103, 'Doe', 'HR', 55000, '2019-02-28'],
    [104, 'Alice', 'Marketing', 70000, '2016-11-20'],
    [105, 'Bob', 'HR', 60000, '2019-09-10'],
    [106, 'Eve', 'Marketing', 75000, '2017-04-05']
])
print(employee_data)

# Same data in Pandas dataframe
employee_df = pd.DataFrame(employee_data, columns=['ID', 'Name', 'Department', 'Salary', 'Hire Date'])
employee_df['Salary'] = pd.to_numeric(employee_df['Salary'])
employee_df

In [ ]:
# Get the average salary by department

# Find unique departments
unique_departments = np.unique(employee_data[:, 2])

# Calculate average salary for each department
avg_salaries = []
for department in unique_departments:
    department_salaries = employee_data[employee_data[:, 2] == department, 3].astype(float)
    avg_salaries.append(np.mean(department_salaries))

print(unique_departments)
print(avg_salaries)

In [ ]:
# Do the same task with Pandas
avg_salaries = employee_df.groupby('Department')['Salary'].mean()
avg_salaries

## Activity 

Consider the following data:

|Pet name | Species| Age| Adoption Fee|
|---------|--------|----|-------------|
|Whiskers | Cat    | 3  | 25.00       |
|Bubbles  | Fish   | 1  | 3.00        |
| Rover   | Dog    | 2  | 75.00       |
| Hopper  | Bunny  | 2  | 15.00       |

Create a Pandas dataframe containing the data above.

Select and display only the `Pet Name` and `Species` columns.

Select and display only the first two rows of the dataframe.

Select and display the pets that have an adoption fee less than $20.