In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

**Question 1**: 
Using the provided dataset, write code that would calculate the correlation matrix for all the numerical features. Then write code that would create a heatmap to visually represent these correlation

In [ ]:
# Given Code
data = {
    "Math_Score": np.random.randint(50, 100, 50),       
    "Science_Score": np.random.randint(50, 100, 50),    
    "English_Score": np.random.randint(50, 100, 50),    
    "Study_Hours": np.random.randint(1, 10, 50),     
    "Sleep_Hours": np.random.randint(4, 10, 50)         
}

df = pd.DataFrame(data)

**Question 2:**

In [ ]:
employee = {
    'Employee ID': ['1232', '1343', '1453', '1211', '1225', '1777', '1436'],
    'Employee First Name': ['James', 'John', 'Joe', 'Will', 'Mike', 'Tom', 'Mary'],
    'Employee Last Name': ['Smith', 'Jones', 'Miller', 'Jackson', 'Lopez', 'Cooper', 'Brown'],
    'Date Hired': ['10-31-2023','02-28-2024','01-09-2017','02-01-2020','11-30-2022','01-01-2020','12-25-2019'],
    'Employee Type': ['Technician', 'Technician', 'Manager', 'Supervisor', 'Technician', 'Supervisor', 'Manager'],
    'Salary': ['30000', '25000', '60000', '45000', '40000', '45000', '55000']
}
df_empl = pd.DataFrame(employee)
df_empl

a) Using this dataframe first clean the column names (ex employee_id) and make sure the data types are appropriate.

In [ ]:
#clean the column names
...

#change some of the data types
...
...
...

b) Using your newly cleaned dataframe visualize the average salary for each employee type.

In [ ]:
...
...

c) Now using pandas find the average salary for each employee type.

In [ ]:
avg_salary = ...
avg_salary

**Question 3:**

a) Import seaborn's taxis dataset.

b) What are the dimensions of the taxis dataset? What are the column names and data types? Do any of the columns have null values?

c) Create a pair plot of the taxis data.

d) Create a correlation heat map of the taxis data. Are there any strong correlations between variables in the dataset?

*List correlations here*

**Question 4**

a) What is an API?

*Your answer here*

b) What is the name of the data returned from an API request, typically in JSON format?

*Your answer here*

**Question 5**

a) Import the excel file "SciDiv_Casper_Fall_24.xlsx" into a pandas dataframe called ```survey_df```. Display the *first 3 rows.***

b) You will be performing an intial EDA to determine what changed should be made to this dataset to get it into a workable format. 

Get the general (i) *information* and (ii) *descriptions* of the dataset attributes and variables. Write what you learned from each in a markdown column. No more than 3 sentences each.

c) Look at the columns of the dataframe. What columns are representing values that would be better evaluated numerically?**

In a markdown cell, list 5 columns that would be better represented as floats or integers.

*List columns here*

d) The Hard Part! *Create a function that will convert the given columns of a dataframe to numerical equivalents using regex. Assign this to*** ```survey_df```.

*Hint 1: Initial set up: ```def function(dataframe, list_of_columns):``` is a sound method to perform this task.*  
*Hint 2: Don't forget to account for numbers with a decimal and numbers without!*  
*Hint 3: Depending on how you build your function, it will either update the dataframe you enter, or create a new one.*

**Question 6:** What are the 7 components of a graph and what do they mean?

*List components here*

**Question 7:**

[The Cat API](https://thecatapi.com/) is a free to use API for cat images and other information. Read through the documentation to answer the questions below. You do not need to create an account in order to answer the following questions! Make sure to run the import cell below.

In [ ]:
import requests
from IPython.display import Image, display

(a) What is the base url for API requests for TheCatAPI? Assign it to `cat_base_url`

In [ ]:
cat_base_url = ...

(b) Create the URL to request 10 random cat images, assign it to `cat_images_url`

In [ ]:
cat_images_url = ...

(c) Send an API request using your URl, assign it to `cat_response`. Assign the payload to `cat_payload`

In [ ]:
cat_response = ...
cat_payload = ...

(d) Inspect your `cat_payload`, what type of data structure is it? Choose an answer from below and assign it to `data_type`:

1. list of strings
2. dictionary of lists
3. list of lists
4. list of dictionaries

In [ ]:
data_type = ...

(e) Using an appropriate method, assign all the urls from your API request to `cat_images`

In [ ]:
cat_images = ...

(f) View your cats! Create a function called `cat_gallery` that will use the urls stored in `cat_images` to display your cat images. 
Use `display(Image(url=url_string))` within your function to produce images in your output. 
*Hint:  You should return nothing at the end of your function*

In [ ]:
def ...:
    ...
    ...
    ...

**Question 8**

Go to this [Star Wars API website](https://swapi.dev) and find the base URL to request Star Wars data.

In [ ]:
base_url =

You want to find out how to access information on starships, what endpoint URL should you use?

In [ ]:
endpoint =

Use the base URL and endpoint to get the json payload of starships

In [ ]:
url =

In [ ]:
response =
response

In [ ]:
starships_data = 
starships_data

**Question 9**

Given a DataFrame containing first and last names, add a column containing abbreviations made up of the first and last initials (capitalized), both followed by periods (ex. John Owens yields J.O., Amy Watson yields A.W.).

In [ ]:
import pandas as pd
data = {'first_name': ['John', 'Amy', 'Evan', 'Jane'],
     'last_name': ['Owens','Watson','Guerrero','Jones']}
names_df = pd.DataFrame(data)

**Question 10**

Use the data below called names to create a new column with only the last names of each person.

In [ ]:
data = {
    'Name': ['Jack Arnold', 'Steven Hughes', 'Alex Soup', 'John Brown', 'Alan Shwartz'],
    'Occupation': ['Mechanic', 'Dentist', 'Trainer', 'Ranger', 'Police Officer'],
    'Age': [34, 39, 28, 37, 41],
    'Favorite Color': ['White', 'Gray', 'Orange', 'Brown', 'Red'],
    'Happiness Score': [7.5, 8.0, 7.2, 2.3, 4.8]
}
names = pd.DataFrame(data)
names

**Question 11**

Given the dataframe below, create a barchart which has a height of the count value, a hue by color, facetted by object using seaborn  

HINT: Use a catplot perhaps or a facet grid which we can map a barchart onto

In [ ]:
df = pd.DataFrame({'Object': ['shoes','shoes', 'umbrella', 'umbrella', 'umbrella' ,'shirt', 'shirt' ], 'Color': ['yellow', 'blue', 'red', 'blue', 'purple', 'yellow', 'green'], 'Count': [12, 20, 15, 22, 13, 17, 21]})
df

**Question 12**

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/ronniebugia/steph-curry-data/refs/heads/master/stephen_curry.csv')
df.head()

Above are the career per game statistics for Golden State Warriors Point Guard Stephen Curry. Using the statistics from the dataframe can you find out the season in which Curry made his 3000th three pointer?