# Midterm 1 Practice Problems SOLUTIONS

The following problems are similar to what you'll see on the first DATA 271 exam. This set of problems is longer than what you'll see on the actual exam.

## Python Basics

**Problem:** Write a function to remove duplicates from a list. Test out your function on the list
```python
['I','love','love','love','data','science']
```

In [ ]:
def remove_duplicates(lst):
    new_list = []
    for i in lst:
        if i not in new_list:
            new_list.append(i)
    return new_list
    
remove_duplicates(['I','love','love','love','data','science'])

**Problem:** Write a function to count the occurrences of each character in a string and return a dictionary where the keys are the unique characters and values are their counts.
Test out your function on the string
```python
'If a dog chews shoes, whose shoes does he choose?'
```

In [ ]:
def count_characters(string):
    return {i:string.count(i) for i in string}

count_characters('If a dog chews shoes, whose shoes does he choose?')

**Problem:** Write a function to merge two lists into one sorted list in descending order. Test out your function on the lists 
```python
lst1 = [8,3,5,8,4,9]
lst2 = [6,9,0,2,7,2]
```

In [ ]:
def merge_lists(lst1,lst2):
    lst1.extend(lst2)
    lst1.sort()
    return lst1

lst1 = [8,3,5,8,4,9]
lst2 = [6,9,0,2,7,2]
merge_lists(lst1,lst2)

**Problem:** The number $\pi$ can be computed by the following formula:
$$
\pi=4 \sum_{k=0}^{\infty} \frac{(-1)^k}{2 k+1}=4\left(\frac{1}{1}-\frac{1}{3}+\frac{1}{5}-\frac{1}{7}+\frac{1}{9}-\ldots\right)
$$

Write a function to *approximate* $\pi$ using the formula defined above (the approximation means that instead of infinity $\infty$, the sequence considers only a certain amount of elements $n$).

Here are examples of $\pi$ approximations for some of the values of $n$ :
$$
\begin{aligned}
& n=0 \rightarrow \pi=4 \\
& n=1 \rightarrow \pi \approx 2.67 \\
& n=2 \rightarrow \pi \approx 3.47
\end{aligned}
$$

Use those $n$ values as inputs to make sure your function is working properly, then get the $pi$ approximation for $n=10000$.

In [ ]:
def pi_approx(n):
    sum_piece = 0
    for k in range(n+1):
        sum_piece += (-1)**k/(2*k+1)
    return 4*sum_piece

print(pi_approx(0))
print(pi_approx(1))
print(pi_approx(2))
print(pi_approx(10000))

**Problem:** You went to the market with your roommate and you both filled your own baskets (`basket1` and `basket2`) with fruits. You wanted to have one of each kind but realized that some fruits were put in both baskets. Remove everything from `basket2` that is present in `basket1`.

In [ ]:
# The following structure might help
basket1 = ['apple','banana','orange']
basket2 = ['apple','pear']

# The following structure might help
for i in basket1:
    if i in basket2:
        basket2.remove(i)
        
basket1,basket2

**Problem:** You are given five lists below. Use them to answer the following questions

In [ ]:
A = [1, 2, 3, 5, 6, 7]
B = [5, 7, 9, 11, 13, 15, 15]
C = [1, 2, 5, 7, 10, 8, 11, 12, 13, 14, 15, 16, 17, 16]
D = [1, 3, 5, 7, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
E = [9, 10, 11, 12, 13, 14, 15]

**Subproblem:** Determine which numbers are in `A`, `B`, and `C`.

In [ ]:
set(A) & set(B) & set(C)

**Subproblem:** Find all unique numbers across all the lists.

In [ ]:
set(A) | set(B) | set(C) | set(D) | set(E)

**Subproblem:** Determine which numbers are either in `A` or in the intersection of `D` and `E`.

In [ ]:
set(A) | (set(D) & set(E))

**Problem** Which of the following data structures is immutable in Python?

1. List
2. Dictionary
3. Tuple
4. Set

Create a list with the numbers corresponding to the immutable data structures.

In [ ]:
answer = [3]

**Problem**: The Caesar cipher (shift cipher) one of the most famous encryption systems. It is based on a simple shift of each letter in a message by a certain number of positions down the given `alphabet`. For example, given the English alphabet, a shift of 1 for `'xyz'` would imply `'yza'` and vice versa in case of decryption. Notice that `'z'` becomes `'a'` in this case.

Thus, encryption/decryption requires two arguments: 
- text to encrypt/decrypt
- an integer denoting the shift (key = 1 for the example above).

Create an encryption function given the English alphabet stored in the `alphabet` string.

In [ ]:
alphabet = 'abcdefghijklmnopqrstuvwxyz'
def encryption(text,shift):
    encrypted_text = ''
    for i in text:
        encrypted_text += alphabet[(alphabet.find(i) + shift)%26]
    return encrypted_text

encryption('xyz',1)

## List and Dictionary Comprehension

**Problem** Create a list of tuples where the first item in each tuple is a number from 1 to 50, and the second item is its square.

For example, the list should look like: 
```python
[(1, 1), (2, 4), (3, 9), ..., (50, 2500)]
```

In [ ]:
[(i,i**2) for i in range(1,51)]

**Problem** Create a dictionary where the keys are the positive even integers between 6 and 50 (inclusive), and the values are bools indicating whether each integer is divisible by 3 or not.

For example, the dictionary should look like: 
```python 
{6: True, 8: False, ..., 50: False}
```

In [ ]:
{i:i%3 == 0 for i in range(6,51,2)}

**Problem:** Write a function that takes a string as an argument and returns a dictionary, where each key represents a unique character from the string and the corresponding value is a list containing the indices/positions of this letter in the string.

For example, passing the string `'ukulele'` to the function should result in the following output: 
```python
{'u': [0, 2], 'k': [1], 'l': [3, 5], 'e': [4, 6]}
```

In [ ]:
string = 'ukulele'
{i:[j for j in range(len(string)) if string[j]==i] for i in string}

**Problem:** Use dictionary comprehension to create a dictionary where the keys are words from the given string below. If the word contains only lowercase characters, its value should be the length of the word. If the word contains any uppercase characters, the value should be 0.

In [ ]:
string='No Luke I am your father'
{word: len(word) if word == word.lower() else 0 for word in string.split()}

**Problem:** Use list comprehension to concatenate two lists of strings given below, keeping only the strings with lengths greater than 3.

In [ ]:
list1 = ['aardvark','bear', 'cat', 'dog','elephant']
list2 = ['apple','burger', 'cantalope', 'dragonfruit','egg']

[i for j in [list1, list2] for i in j if len(i) > 3]

In [ ]:
list1.extend(list2)
[i for i in list1 if len(i) > 3]

**Problem:** The transpose of a matrix is found by interchanging its rows into columns or columns into rows. Using list comprehension, transpose a given matrix represented as a list of lists. We will use the matrix

\begin{bmatrix}
1&2\\
3&4
\end{bmatrix}

which has transpose
\begin{bmatrix}
1&3\\
2&4
\end{bmatrix}

So turn the list 
```python
[[1,2],[3,4]]
```
should be transformed to
```python
[[1,3],[2,4]]
```

In [ ]:
matrix = [[1,2],[3,4]]

[[row[i] for row in matrix] for i in range(len(matrix[0]))]

## Regular expression

**Problem** Use regular expression to transform the string 
```python
'Twinkle twinkle little star.'
```
into the string 
```python
'3inkle 3inkle li3le s3ar.'
```

In [ ]:
import re
string = 'Twinkle twinkle little star.'

re.sub('[Tt]+w*', '3', string)

**Problem** Use regular expression to make a list of tuples. The first element of the tuple should be a math professor's last name and the second element should be their extension (last 4 digits of their office numbers).

In [ ]:
data = """Dr. Rizzardi's office number is (707) 826-4951.\n
Dr. Ballinger's office number (707) 826-5344.\n
Dr. Dugaw's office number is (707) 826-4251.\n
Dr. Evans's office number is (707) 826-3217.\n
Dr. Freedman's office number is (707) 826-4763.\n
Dr. Haag's office number is (707) 826-5345.\n
Dr. Johnson's office number is (707) 826-4952."""

In [ ]:
re.findall("Dr.\s([A-Za-z]+)'.+(\d{4})", data)

**Problem:** Create a regular expression matching a valid temperature represented either in Celsius or Fahrenheit scale (e.g. `+23.5 C`, `-4 F`, `0.0 C`, `73.45 F`) and to extract all the appearances from the given string text. Positive temperatures can be with or without the `+` prefix (e.g. `5 F`, `+5 F`). Negative temperatures must be prefixed with `-`. Zero temperature can be used with a prefix or without. Test out your regex on the string provided.

In [ ]:
string = "Let's consider the following temperatures using the Celsius scale: +23 C, 0 C, -20.0 C, -2.2 C, -5.65 C, 0.0001 C. To convert them to the Fahrenheit scale you have to multiply the number by 9/5 and add 32 to the result. Therefore, the corresponding temperatures in the Fahrenheit scale will be: +73.4 F, 32 F, -4.0 F, +28.04 F, 21.83 F, +32.00018 F."
string = "Let's consider the following temperatures using the Celsius scale: +23 C, 0 C, -20.0 C, -2.2 C, -5.65 C, 0.0001 C. To convert them to the Fahrenheit scale you have to multiply the number by 9/5 and add 32 to the result. Therefore, the corresponding temperatures in the Fahrenheit scale will be: +73.4 F, 32 F, -4.0 F, +28.04 F, 21.83 F, +32.00018 F."
regex = '[+-]?\d+\.?\d*\s[CF]' # solution
re.findall(regex,string) # check

**Problem:** You visit a website and it asks you to fill in a registration form. The username section requires you to choose a name between 3 and 16 characters long. It can only include hyphens, underscores, and alphanumeric characters (but no capital letters). Write a regex to match valid usernames.

In [ ]:
regex = '[a-z0-9_-]{3,16}'

**Problem:** You are given a list where each element stores a movie name, its release date, and the director (e.g. "The Godfather, 1972, Francis Ford Coppola") below.

Get the movie title and the director of each element in `movies` and put them in a new list. For example, if the element `movies` is 
```python
"The Godfather, 1972, Francis Ford Coppola"
```
the result should be:

```python
"The Godfather, Francis Ford Coppola"
```

In [ ]:
movies = ['1984, 1984, Michael Radford',
"The Good the Bad, and the Ugly, 1966, Sergio Leone",
"Terminator 2: Judgment Day, 1991, James Cameron",
"Harry Potter and the Philosopher's Stone, 2001, Chris Columbus",
"Back to the Future, 1985, Robert Zemeckis",
"No Country for Old Men, 2007, Joel Coen, Ethan Coen"]

In [ ]:
[re.sub(',\s\d{4}','',movie) for movie in movies]

## NumPy

What does the NumPy library primarily provide in Python?

1. High-performance multidimensional array objects
2. Methods for string manipulation
3. Data visualization tools
4. Regular expression functionality

In [ ]:
answer = 1

**Problem:** Create a Numpy array of length 10 with values evenly distributed between 5 and 50.

In [ ]:
import numpy as np
np.linspace(5,50,10)

**Problem:** Create NumPy array of length 5 filled with random integers from 0 to 10.

In [ ]:
np.random.randint(0,11,5)

**Problem:** In the following array, replace all the numbers that are less than 5 with 0.

In [ ]:
import numpy as np 
array1= np.array([[7,3,1,6],[7,21,5,8],[-1,0,83,3]])
array1[array1 < 5] = 0
array1

**Problem** Create the following 2D numpy array:

\begin{bmatrix}
    1 & 1 & 0 & 1 \\
    1 & 1 & 0 & 1 \\
    1 & 1 & 0 & 1 \\
\end{bmatrix}

In [ ]:
mat = np.ones((3,4),dtype=int)
mat[:,2] = 0
mat

**Problem:** Create the following array:
\begin{bmatrix}
1&2&...&49&50\\
50&49&...&2&1
\end{bmatrix}

(the ellipses should be filled in with numbers stepping by 1.

In [ ]:
np.vstack((np.arange(1,51),np.arange(1,51)[::-1]))

**Problem** Given the array `arr`

\begin{bmatrix}
    1 & 2 & 3 & 4 & 5 & 6 & 7 & 8 & 9 & 10\\
    11 & 12 & 13 & 14 & 15 & 16 & 17 & 18 & 19 & 20\\
    21 & 22 & 23 & 24 & 25 & 26 & 27 & 28 & 29 & 30\\
\end{bmatrix}

Use array slicing to get the array:
    \begin{bmatrix}
    2 & 5 & 10\\
    22 & 25 & 30\\
    \end{bmatrix}

In [ ]:
arr = np.arange(1,31).reshape(3,10)
arr[::2,[1,4,9]]

**Problem:** You are at the grocery store to buy cookies, and you notice that each brand sells boxes of cookies with different amounts and prices. The data for the brand, price per box, and number of ounces per box are given to you in three NumPy arrays below. You want to get most bang for your buck, so use the NumPy arrays to determine which brand you should buy to get the cheapest price per oz.

In [ ]:
cookie_brands = np.array(['Brand A', 'Brand B', 'Brand C', 'Brand D', 'Brand E', 'Brand F', 'Brand G', 'Brand H', 'Brand I', 'Brand J'])
prices_per_box = np.array([5.99, 4.99, 6.99, 3.49, 7.99, 2.99, 5.49, 4.29, 6.79, 3.99])
ounces_per_box = np.array([12, 10, 16, 8, 14, 6, 11, 9, 15, 7])

In [ ]:
cookie_brands[(prices_per_box/ounces_per_box).argmin()]

## Pandas

**True or False**: In Pandas, a Series is a two-dimensional data structure similar to a table.

In [ ]:
answer = False

**Problem:** Go to [this link](https://www.kaggle.com/datasets/krishd123/olympics-legacy-1896-2020) and put the `all_athlete_games.csv` file in your working directory. Import the data as a Pandas DataFrame.

In [ ]:
import pandas as pd
df = pd.read_csv('all_athlete_games.csv')
df.head()

**Problem:** Create a Pandas Series displaying how many gold medals were won by each team in the dataset.

In [ ]:
golds = df[df.Medal == 'Gold']
df[df.Medal == 'Gold'].Team.value_counts()

**Problem:** How many athletes won gold medals in the dataset?

In [ ]:
len(golds.Name.unique())

**Problem:** Who earned the most gold medals in the dataset and in what events did they earn golds?

In [ ]:
athlete_most_golds = golds.Name.value_counts().index[0]
events = golds[golds.Name.str.contains(athlete_most_golds)]['Event'].unique()
athlete_most_golds, events

**Problem:** Create a Pandas Series containing the average age of athlete for each sport in the summer Olympics.

In [ ]:
df[df['Season']=='Summer'].groupby('Sport')['Age'].mean()

**Problem:** In what year did the oldest olympic athlete compete. How old where they?

In [ ]:
year = df.loc[df['Age'].idxmax(),'Year']
age = df['Age'].max()

year,age